.tab-item {
  display: inline-flex;
  padding: 8px 10px 6px;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  gap: 4px;
  align-items: center;
  border-bottom: 3px solid transparent;

  &.selected {
    color: skyblue;
    border-bottom: 3px solid skyblue;
  }
  .ant-input{
    background-color: #dddddd;
    border: none;
    width: 100px;
  }
}
