.tabs {
  display: flex;
  align-items: center;

  height: 38px;

  border-bottom: 1px solid var(--border);

  box-sizing: border-box;

  .add{
    cursor: pointer;
  }
  .left{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 1px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #ddd;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
    }
  }
  .right{
    margin-left: auto;
  }
}
